{% extends "base.html" %} {% block title %}Health QA | {{ user.name }}{% endblock %} {%
block content %}
<div class="w-full lg:w-1/3 pr-4">
  <div class="bg-white border-gray-200 shadow rounded text-gray-700">
    <div class="p-8">
      <h1 class="text-2xl font-bold">{{ user.name }}</h1>
      <p class="text-gray-600 my-4">
	User Rating: <span class="font-bold">{{ user.score }}</span>
      </p>
      <p class="text-gray-500 mb-4">
	Joined {{ user.created_at.strftime('%Y-%m-%d') }}
      </p>
      {% if user == current_user %}
	<a href="{{ url_for('users.edit_profile', id=user.id) }}?tab=answers" class="flex text-green-800 hover:text-green-600 hover:underline py-2">
	  Edit profile
	</a>
	<a href="{{ url_for('auth.change_password') }}?tab=answers" class="flex text-green-800 hover:text-green-600 hover:underline py-2">
	  Change password
	</a>
      {% endif %}
    </div>
    <div class="font-bold">
      <a href="{{ url_for('users.profile', id=user.id) }}?tab=questions" class="flex py-4 px-8 hover:bg-gray-50 {% if tab=='questions' %}bg-gray-100 border-r-8 border-green-700{% endif %}">
	Questions: {{ user.question_count }}
      </a>
      <a href="{{ url_for('users.profile', id=user.id) }}?tab=answers" class="flex py-4 px-8 hover:bg-gray-50 {% if tab=='answers' %}bg-gray-100 border-r-8 border-green-700{% endif %}">
	Answers: {{ user.answer_count }}
      </a>
    </div>
  </div>
</div>
<div class="w-full lg:w-2/3 pl-4">
  {% if tab == 'questions' %}
    {% for question in questions %}
      {% include "_question_card_profile.html" %}
    {% else %}
      User has no questions yet
    {% endfor %}
  {% elif tab == 'answers' %}
    {% for answer in answers %}
      {% include "_answer_card_profile.html" %}
    {% else %}
      User has no answers yet
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
