{% extends "base.html" %}
{% block title %}Health QA{% endblock %}

{% block content %}
  <div class="w-full lg:w-3/4 px-4">
    <div class="flex justify-between mb-4">
      <h1 class="text-gray-500 text-2xl font-bold">All questions</h1>
      <a href="{{ url_for('questions.ask') }}" class="bg-green-500 hover:bg-green-400 text-white text-lg py-2 px-4 rounded shadow">
	Ask question
      </a>
    </div>
    {% for question in questions %}
      <div class="mb-4 bg-white border-gray-200 rounded flex shadow">
	<div class="p-8 flex text-gray-600">
	  <span class="mr-8 text-center">
	    <p class="text-xl">0</p>
	    <p>votes</p>
	  </span>
	  <span class="mr-8 text-center">
	    <p class="text-xl">0</p>
	    <p>answers</p>
	  </span>
	  <span class="text-center">
	    <p class="text-xl">0</p>
	    <p>views</p>
	  </span>
	</div>
	<div class="p-4 w-full">
	  <a href="{{ question.url }}" class="text-lg text-gray-900 hover:text-green-500 mb-2">
	    {{ question.title }}
	  </a>
	  <p class="mt-4">
	    {{ question.user.username }}
	  </p>
	  <div class="flex justify-between">
	    <div class="flex flex-wrap">
	      {% for tag in question.tags %}
		<a href="" class="px-2 mr-2 my-2 bg-gray-200 text-gray-600 text-sm rounded">{{ tag.name }}</a>
	      {% endfor %}
	    </div>

	    <div class="text-sm text-gray-500 py-2">
	      Asked 2 hours ago by <a href="" class="text-green-500 hover:text-green-300">{{ question.user.name }}</a>

	    </div>

	  </div>
	</div>
      </div>
    {% endfor %}
  </div>

  <div class="lg:w-1/4 px-4">
    <div class="p-4 bg-yellow-100 shadow rounded">
      <h2 class="text-gray-500 text-xl font-bold">Tags</h2>
      <div class="flex flex-wrap mt-4">
	{% for tag in tags %}
	  <a href="" class="px-2 mr-2 my-2 bg-gray-300 text-gray-700 text-sm shadow-sm rounded">
	    {{ tag.name }}
	  </a>
	{% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
