<div class="comment flex my-4 text-gray-800">
  {% with entry=comment %}
  {% include "_vote_comment.html" %}
  {% endwith %}

  <div class="ml-4">
    {{ comment.content|safe }} -
    <a href="{{ comment.user.url }}" class="text-green-600 hover:text-green-500">
      {{ comment.user.name }}
    </a>
    <span class="text-gray-400">
      {{ comment.created_at.strftime('%Y-%m-%d at %H:%M') }}
    </span>

    {% if comment.user == current_user %}
    <div class="mt-4">
      <button hx-get="{{ url_for('questions.edit_comment', id=comment.id) }}" hx-target="closest .comment" hx-swap="outerHTML" class="text-green-600 hover:text-green-500">Edit</button>
    </div>
    {% endif %}

  </div>
</div>
