<div class="comment_form mt-8" {% if not comment_form.errors %}x-data="{showForm: false}"{% endif %}>
  {% if current_user.is_authenticated %}
    {% if not comment_form.errors %}
      <button @click="showForm = true" x-show="!showForm" class="text-green-600 hover:text-green-500">Add comment</button>
    {% endif %}
    <form {% if not comment_form.errors %}x-show="showForm"{% endif %} method="POST" x-cloak>
      <div class="flex">
	<div class="w-full mr-4">
	  {% with field=comment_form.content %}
	    {% include "form/field.html" %}
	  {% endwith %}
	</div>
	<div>
	  <button hx-post="{{ url }}" hx-target="closest .comment_form" hx-swap="outerHTML" class="bg-green-600 hover:bg-green-500 py-2 px-4 text-white whitespace-nowrap shadow rounded">Add comment</button>
	</div>

	{% if error_message %}
	  <div class="mt-2 text-red-500 font-italic">{{ error_message }}</div>
	{% endif %}
      </div>
    </form>
  {% else %}
    <a href="{{ url_for('auth.login') }}?next={{ request.path }}" class="text-green-600 hover:text-green-500">Add comment</a>
  {% endif %}
</div>
