{% extends "layout.html" %}

{% if not active_page %}
{% set active_page = 'questions' %}
{% endif %}

{% block title %}All questions | Health QA{% endblock %}

{% block main_col %}
  <div class="flex justify-between mb-4 px-4 md:px-0">
    <h1 class="w-full text-center md:text-left text-gray-500 text-2xl font-bold">
      {% block page_header %}
	{{ page_title|default('All questions') }}
      {% endblock %}
    </h1>
    <a href="{{ url_for('questions.ask') }}" class="hidden md:inline-block whitespace-nowrap bg-green-500 hover:bg-green-400 text-white text-lg font-bold py-2 px-4 rounded shadow">
      Ask question
    </a>
  </div>
  {% for question in questions %}
    {% include "_question_card.html" %}
  {% else %}
    {% block empty %}
      <div class="w-full p-8 bg-white shadow rounded text-gray-700 text-lg text-center">
	<p class="mb-2 text-gray-500">No questions here yet</p>
      </div>
    {% endblock %}
  {% endfor %}

  {% include "_pagination.html" %}
{% endblock %}
