{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
  <div class="text-lg md:w-1/2 mx-auto text-gray-800 p-4">
    <h1 class="text-2xl text-gray-600 text-center mb-8">Dear guests</h1>
    <p class="py-4">Thank you for visiting BackPainFree.org - a Q&A platform specifically designed for people dealing with back pain problems.</p>
    <p class="py-4">
      Back pain has became one of the most common medical problems nowadays.
      About 8 out of 10 people experience some kind of pack pain during their lives.
      Sometimes it can go on it's own, other times it stays for years.
      Back pain can be really severe and limit one's life significantly.
      The saddest thing is that people sometimes can spend years treating the wrong problem.
      For example, it takes about 5 years on average for people with fibromyalgia to get a right diagnosis.
    </p>
    <p class="py-4">I believe that back pain problems can be managed more effectively with the help of community. People who faced the same problem can oftetimes give a really valuable advice or recommendation that no certified doctor can give. That is why I decided to build this website</p>
    <p class="py-4">I will be really glad if it helps your in dealing with you pain.
      I wish you back-pain free life!</p>
  </div>
{% endblock %}
