{% extends "account.html" %}
{% block title %}Change password{% endblock %}

{% block content %}
  <div class="mb-4">
    {% with field=form.current_password %}
      {% include "form/field_with_label.html" %}
    {% endwith %}
  </div>
  <div class="mb-4">
    {% with field=form.password %}
      {% include "form/field_with_label.html" %}
    {% endwith %}
  </div>
  <div class="mb-4">
    {% with field=form.password_repeat %}
      {% include "form/field_with_label.html" %}
    {% endwith %}
  </div>
  <button class="w-full bg-green-500 hover:bg-green-600 text-white font-bold border border-green-100 py-2 px-4" type="submit">
    Submit
  </button>
{% endblock %}
