{% extends "questions/list.html" %}

{% block outer_title %}BackPainFree{% endblock %}
{% block meta_description %}A community question and answer website related to back pain problems{% endblock %}

{% set page_title = "Top questions" %}

{% block bottom %}
  <div class="flex justify-between mb-4">
    <div></div>
    <a href="{{ url_for('questions.all') }}" class="bg-green-600 hover:bg-green-500 text-white text-md px-8 py-2 md:shadow md:rounded">
      View all questions >
    </a>
  </div>
{% endblock %}

{% set active_page = 'home' %}
