<div class="bg-white shadow p-12 mt-4 rounded">
  <div class="flex">
    {% with entry=answer %}
      {% include "_vote_large.html" %}
    {% endwith %}

    <div class="w-full text-gray-800">
      {{ answer.content|safe }}

      <div class="flex justify-between mt-8">
	<div>
	</div>
	<div>
	  <span class="block text-gray-400">
	    Answered {{ answer.created_at.strftime('%Y-%m-%d at %H:%M') }}
	  </span>
	  <span class="block">
	    <a href="{{ answer.user.get_absolute_url() }}" class="text-green-500 hover:text-green-400 mr-2">{{ answer.user.name }}</a>
	    <span class="font-bold text-gray-600">400</span>
	  </span>
	</div>

      </div>

      <div class="mt-8 text-sm">

	{% for comment in answer.comments %}
	  {% include "_comment.html" %}
	{% endfor %}

	{% with url=url_for("questions.comment", id=answer.id) %}
	  {% include "_comment_form.html" %}
	{% endwith %}

      </div>
    </div>
  </div> </div>
