<div class="comment_form mt-8">
  <form method="POST">
    <div class="flex">
      <div class="w-full mr-4">
	{% with field=form.content %}
	  {% include "form/field.html" %}
	{% endwith %}
      </div>
      <div>
	<button hx-post="{{ url_for('questions.edit_comment', id=comment.id) }}" hx-target="closest .comment_form" hx-swap="outerHTML" class="bg-green-600 hover:bg-green-500 p-2 text-white whitespace-nowrap shadow rounded">Save changes</button>
      </div>

      {% if error_message %}
	<div class="mt-2 text-red-500 font-italic">{{ error_message }}</div>
      {% endif %}
    </div>
  </form>
</div>
