{% if paginator %}
<div id="pagination" class="py-4 text-sm text-gray-600">
  {% if paginator.has_previous %}
  <a href="{{ base_url }}page={{ paginator.current - 1 }}" class="mr-2 px-4 py-2 bg-white hover:bg-green-400 hover:text-white rounded shadow">Previous</a>
  {% endif %}
  {% for i in paginator %}
  <a {% if paginator.current != i %}href="{{ base_url }}page={{ i }}"{% endif %} class="mr-2 px-4 py-2 rounded shadow {% if paginator.current == i %}bg-green-500 text-white font-bold{% else %}bg-white hover:bg-green-400 hover:text-white{% endif %}">{{ i }}</a>
  {% endfor %}
  {% if paginator.has_next %}
  <a href="{{ base_url }}page={{ paginator.current + 1 }}" class="mr-2 px-4 py-2 bg-white hover:bg-green-400 hover:text-white rounded shadow">Next</a>
  {% endif %}
</div>
{% endif %}
