<div class="mb-4 bg-white border border-gray-200 lg:rounded flex md:shadow">
  <div class="p-8 flex flex-col lg:flex-row text-gray-500">
    <span class="mb-4 lg:mb-0 lg:mr-8 text-center">
      <p class="text-xl text-gray-600">{{ question.score }}</p>
      <p>votes</p>
    </span>
    <span class="mb-4 lg:mb-0 lg:mr-8 text-center">
      <p class="text-xl text-gray-600">{{ question.answer_count }}</p>
      <p>answers</p>
    </span>
    <span class="text-center">
      <p class="text-xl text-gray-600">{{ question.view_count }}</p>
      <p>views</p>
    </span>
  </div>
  <div class="p-4 w-full">
    <a href="{{ question.url }}" class="text-lg text-gray-800 hover:text-green-500 mb-2">
      {{ question.title }}
    </a>
    <p class="mt-4">
      {{ question.user.username }}
    </p>
    <div class="flex flex-col lg:flex-row justify-between">
      <div class="flex flex-wrap">
	{% for tag in question.tags %}
	  <a href="{{ tag.url }}" class="px-4 py-1 mr-2 my-2 bg-gray-200 text-gray-600 text-sm rounded">{{ tag.name }}</a>
	{% endfor %}
      </div>

      <div class="text-sm text-gray-500 py-2">
	Asked 2 hours ago by <a href="{{ question.user.url }}" class="text-green-600 hover:text-green-500">{{ question.user.name }}</a>
      </div>

    </div>
  </div>
</div>
