{% extends "base.html" %} {% block content %}
<div class="w-full lg:w-3/5 px-4">
  <div class="bg-white border border-gray-200 shadow p-8">
    <h1 class="text-2xl">Ask new question</h1>
    <hr class="mt-4 mb-8" />
    <form action="" method="POST">
      {{ form.csrf_token }}
      <div class="mb-4">
	<label class="block text-gray-800 text-sm font-bold mb-2" for="{{ form.title.name }}">
	  {{ form.title.label.text }}
	</label>
	{{ form.title(class_="shadow appearance-none border w-full py-2 px-3 text-grey-darker") }}
      </div>
      <div class="mb-4">
	<label class="block text-gray-800 text-sm font-bold mb-2" for="{{ form.content.name }}">
	  {{ form.content.label.text }}
	</label>
	{{ form.content(class_="shadow appearance-none border w-full py-2 px-3 text-grey-darker", type="textarea") }}
      </div>
      <div>
	<button class="bg-green-500 hover:bg-green-600 text-white font-bold border border-green-100 py-2 px-4" type="submit">
	  Submit
	</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
