{% extends "base.html" %} {% block content %}
<div class="w-full lg:w-3/5 px-4">
  <div class="bg-white border border-gray-200 shadow p-8">
    <h1 class="text-2xl">Ask new question</h1>
    <hr class="mt-4 mb-8" />
    <form action="" method="POST">
      {{ form.csrf_token }}
      <div class="mb-4">
	{% with field=form.title %}
	  {% include "form/field.html" %}
	{% endwith %}
      </div>
      <div class="mb-4">
	{% with field=form.content %}
	  {% include "form/field.html" %}
	{% endwith %}
      </div>
      <div>
	<button class="bg-green-500 hover:bg-green-600 text-white font-bold border border-green-100 py-2 px-4" type="submit">
	  Submit
	</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
