{% extends "base.html" %} {% block content %}
<div class="w-full lg:w-3/5 px-4">
  <div class="bg-white rounded shadow">
    <div class="p-8 border-b">
      <h1 class="text-xl font-bold">Ask new question</h1>
    </div>
    <div class="p-8">
      <form action="" method="POST">
	{{ form.csrf_token }}
	<div class="mb-4">
	  {% with field=form.title %}
	    {% include "form/field_with_label.html" %}
	  {% endwith %}
	</div>
	<div class="mb-4">
	  {% with field=form.content %}
	    {% include "form/field_with_label.html" %}
	  {% endwith %}
	</div>
	<div>
	  <button class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded shadow" type="submit">
	    Submit
	  </button>
	</div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
