{% extends "base.html" %}

{% block content %}
<div class="w-full lg:w-3/5 px-4">
  <div class="bg-white shadow rounded p-12">

    <div class="mb-8">
      <h1 class="text-2xl mb-2 text-gray-600 font-bold">{{ question.title }}</h1>
      <div class="flex mb-4 text-gray-400 text-sm">
	<span class="mr-4">Asked today</span>
	<span>Viewed 15 times</span>
      </div>
    </div>
    <div class="flex">
      <div class="mr-8">
	<svg width="36px" height="36px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
	  <path d="M5.16108 14.9083C4.45387 15.7165 5.02785 16.9814 6.1018 16.9814H17.898C18.972 16.9814 19.5459 15.7165 18.8388 14.9083L13.3169 8.59762C12.6197 7.80079 11.3801 7.80079 10.6829 8.59762L5.16108 14.9083ZM6.65274 15.4814L11.8118 9.58537C11.9114 9.47154 12.0885 9.47154 12.1881 9.58537L17.3471 15.4814H6.65274Z" fill="#212121"/>
	</svg>
	<span class="text-3xl">20</span>
	
	<svg width="36px" height="36px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
	  <path d="M5.16108 10.0731C4.45387 9.2649 5.02785 8 6.1018 8H17.898C18.972 8 19.5459 9.2649 18.8388 10.0731L13.3169 16.3838C12.6197 17.1806 11.3801 17.1806 10.6829 16.3838L5.16108 10.0731ZM6.65274 9.5L11.8118 15.396C11.9114 15.5099 12.0885 15.5099 12.1881 15.396L17.3471 9.5H6.65274Z" fill="#212121"/>
	</svg>

      </div>

      <div class="w-full">
	<div class="text-gray-800">
	  {{ question.content|safe }}
	</div>

	<div class="flex justify-between">
	  <div>
	  </div>
	  <div>
	    <span class="block text-gray-400">
	      Asked {{ question.created_at.strftime('%Y-%m-%d at %H:%M') }}
	    </span>
	    <span class="block">
	      <a href="" class="text-green-500 hover:text-green-400 mr-2">{{ question.user.name }}</a>
	      <span class="font-bold text-gray-600">400</span>
	    </span>
	  </div>

	</div>

	<div id="question_comments" class="mt-8 text-sm text-gray-800">
	  {% for comment in question.comments %}
	    {% include "_comment.html" %}
	  {% endfor %}

	  {% with user_action_id=question.id %}
	    {% include "_comment_form.html" %}
	  {% endwith %}
	</div>

      </div>
    </div>
  </div>

  {% for answer in question.answers %}
    {% include "_answer.html" %}
  {% endfor %}

  {% if current_user.is_authenticated %}
    {% with url=url_for('questions.answer', id=question.id) %}
      {% include "_answer_form.html" %}
    {% endwith %}
  {% endif %}


</div>
{% endblock %}

{% block extra_js %}
  <script>
    document.body.addEventListener('htmx:configRequest', function(event) {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token() }}';
    });
  </script>
{% endblock %}
