{% extends "base.html" %}

{% block content %}
<div class="w-full lg:w-3/5 px-4">
  <div class="bg-white shadow rounded p-12">

    <div class="mb-8">
      <h1 class="text-2xl mb-2 text-gray-800 font-bold">{{ question.title }}</h1>
      <div class="flex mb-4 text-gray-400 text-sm">
	<span>Viewed {{ question.view_count }} times</span>
      </div>
      <div class="flex flex-wrap mb-4">
	{% for tag in question.tags %}
	  <a href="" class="px-2 mr-2 my-2 bg-gray-200 text-gray-600 text-sm rounded">{{ tag.name }}</a>
	{% endfor %}
      </div>
    </div>
    <div class="flex">
      {% with entry=question %}
	{% include "_vote_large.html" %}
      {% endwith %}

      <div class="w-full">
	<div class="text-gray-800">
	  {{ question.content|safe }}
	</div>
	{% if current_user == question.user %}
	  <div class="mt-4">
	    <a href="{{ url_for('questions.edit_question', id=question.id) }}" class="text-green-500 hover:text-green-400">Edit</a>
	  </div>
	{% endif %}

	<div class="flex justify-between mt-8">
	  <div>
	  </div>
	  <div>
	    <span class="block text-gray-400">
	      Asked {{ question.created_at.strftime('%Y-%m-%d at %H:%M') }}
	    </span>
	    <span class="block">
	      <a href="{{ question.user.url }}" class="text-green-500 hover:text-green-400 mr-2">{{ question.user.name }}</a>
	      <span class="font-bold text-gray-600">{{ question.user.score }}</span>
	    </span>
	  </div>

	</div>

	<div id="question_comments" class="mt-8 text-sm text-gray-800">
	  {% for comment in question.comments %}
	    {% include "_comment.html" %}
	  {% endfor %}

	  {% with url=url_for('questions.comment', id=question.id) %}
	    {% include "_comment_form.html" %}
	  {% endwith %}
	</div>

      </div>
    </div>
  </div>

  {% for answer in answers %}
    {% include "_answer.html" %}
  {% endfor %}

  {% if current_user.is_authenticated %}
    {% with url=url_for('questions.answer', id=question.id) %}
      {% include "_answer_form.html" %}
    {% endwith %}
  {% endif %}


</div>
{% endblock %}

{% block extra_js %}
  <script>
    document.body.addEventListener('htmx:configRequest', function(event) {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token() }}';
    });
  </script>
{% endblock %}
