{% extends "base.html" %}
{% block title %}Health QA{% endblock %}

{% block content %}
  <div class="w-full lg:w-3/4 px-4">
    <div class="flex justify-between mb-4">
      <h1 class="text-gray-500 text-2xl font-bold">All questions</h1>
      <a href="{{ url_for('questions.ask') }}" class="bg-green-500 hover:bg-green-400 text-white text-lg font-bold py-2 px-4 rounded shadow">
	Ask question
      </a>
    </div>
    {% for question in questions %}
      {% include "_question_card.html" %}
    {% endfor %}

    {% if num_pages > 1 %}
    <div id="pagination" class="py-4 text-sm text-gray-600">
      {% if current_page > 1 %}
	<a href="{{ url_for('questions.all') }}?page={{ current_page - 1 }}" class="mr-2 px-4 py-2 bg-white hover:bg-green-400 hover:text-white rounded shadow">Previous</a>
      {% endif %}
      {% for i in range(1, num_pages + 1) %}
      <a {% if current_page != i %}href="{{ url_for('questions.all') }}?page={{ i }}"{% endif %} class="mr-2 px-4 py-2 rounded shadow {% if current_page == i %}bg-green-500 text-white font-bold{% else %}bg-white hover:bg-green-400 hover:text-white{% endif %}">{{ i }}</a>
      {% endfor %}
      {% if current_page < num_pages %}
	<a href="{{ url_for('questions.all') }}?page={{ current_page + 1 }}" class="mr-2 px-4 py-2 bg-white hover:bg-green-400 hover:text-white rounded shadow">Next</a>
      {% endif %}
    </div>
    {% endif %}
  </div>

  <div class="lg:w-1/4 px-4">
    {% include "_tags.html" %}
  </div>
{% endblock %}
