[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-admin = "*"
flask-login = "*"
alembic = "*"
pydantic = "*"
bcrypt = "*"
flask-wtf = "*"
email-validator = "*"
python-dotenv = "*"
rq = "*"
itsdangerous = "*"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-factoryboy = "*"
pytest-mock = "*"
psycopg2-binary = "*"
sqlalchemy-utils = "*"
sqlalchemy2-stubs = "*"
pytest-freezegun = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
