<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename="bundle.js") }}" defer></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-83DHT7LG76"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-83DHT7LG76');
    </script>

    {% block extra_head %}{% endblock %}

    <title>{% block outer_title %}{% block title %}{% endblock %} - BackPainFree{% endblock %}</title>
  </head>

  <body class="{% block body_class %}bg-gray-100{% endblock %}">
    {% block body %}
    <div class="flex flex-col h-screen">
      {% include 'partials/nav.html' %}
      {% include 'partials/alerts.html' %}

      {% block main %}
      <main class="flex-grow container mx-auto py-4 md:py-8 md:px-4" role="main">
	{% block content %} {% endblock %}
      </main>
      {% endblock main %}

      {% block footer %}
      {% include 'partials/footer.html' %}
      {% endblock %}
    </div>
    {% block extra_js %}{% endblock %}
    {% endblock %}
  </body>
</html>
