[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
flask-admin = "*"
flask-login = "*"
alembic = "*"
pydantic = "*"
bcrypt = "*"
flask-wtf = "*"
email-validator = "*"
python-dotenv = "*"
rq = "*"
itsdangerous = "*"
gunicorn = "*"
timeago = "*"
python-slugify = "*"
sentry-sdk = {extras = ["flask"], version = "*"}
meilisearch = "*"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-factoryboy = "*"
pytest-mock = "*"
sqlalchemy-utils = "*"
sqlalchemy2-stubs = "*"
pytest-freezegun = "*"
pytest-socket = "*"
blinker = "*"
types-freezegun = "*"
types-redis = "*"
types-python-slugify = "*"
ipython = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
