<footer class="bg-gray-800 shadow">
  <div class="container mx-auto md:flex justify-between p-4 md:p-8">
    <div class="text-center text-gray-400 flex md:flex-row gap-4">
      <a href="{{ url_for('home.index') }}" class="hover:underline">Home</a>
      <a href="{{ url_for('home.about') }}" class="hover:underline">About</a>
      <a href="{{ url_for('questions.all') }}" class="hover:underline">Questions</a>
      <a href="{{ url_for('questions.tags') }}" class="hover:underline">Tags</a>
      <a href="{{ url_for('users.all') }}" class="hover:underline">Users</a>
    </div>

    <div class="text-gray-300 text-center mt-4 md:mt-0">
      <a href="mailto:info@backpainfree.org" class="hover:underline">info@backpainfree.org</a>
    </div>
  </div>
</footer>
