<footer class="bg-gray-800 shadow">
  <div class="container mx-auto flex py-8">
    <div class="w-full mx-auto flex flex-wrap">
      <div class="flex w-full lg:w-1/2 ">
	<div class="px-8">
	  <h3 class="font-bold text-gray-300">About</h3>
	  <p class="py-4 text-gray-500 text-sm">
	    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel mi ut felis tempus commodo nec id erat. Suspendisse consectetur dapibus velit ut lacinia. 
	  </p>
	</div>
      </div>
      <div class="flex w-full lg:w-1/2 lg:justify-end lg:text-right">
	<div class="px-8">
	  <h3 class="font-bold text-gray-300">Contact us</h3>
	  <a class="inline-block no-underline text-gray-400 hover:text-gray-300 hover:underline py-1" href="#">info@healguys.com</a>
	</div>
      </div>
    </div>
  </div>
</footer>
