{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="w-full flex justify-center">
  <div class="bg-white shadow-md px-8 pt-6 pb-8 mb-4 flex flex-col">
    <form action="" method="POST">
      {{ form.csrf_token }}
      <div class="mb-4">
	{% with field=form.email %}
	  {% include "form/field.html" %}
	{% endwith %}
      </div>
      <div class="mb-6">
	{% with field=form.password %}
	  {% include "form/field.html" %}
	{% endwith %}

	{% if error %}
	<p class="mt-4 text-red-500 italic">{{ error }}</p>
	{% endif %}

      </div>
      <div class="flex items-center justify-between">
	<button class="bg-green-500 hover:bg-green-600 text-white font-bold border border-green-100 py-2 px-4" type="submit">
	  Sign In
	</button>
	<a class="inline-block align-baseline font-bold text-sm text-gray-800 hover:underline" href="#">
	  Forgot Password?
	</a>
      </div>

      <div class="mt-8 text-gray-500">
	<p>
	Don't have an account yet?
	</p>
	<a href="{{ url_for('auth.signup') }}" class="text-blue-500 hover:text-blue-400">Sign up</a> instead
      </div>

    </form>
  </div>
</div>
{% endblock %}
