{% extends "centered_form.html" %}

{% block title %}Set password{% endblock %}
{% block form_title %}Set password{% endblock %}

{% block form_content %}
  {{ form.csrf_token }}
  <div class="mb-4">
    {% with field=form.password %}
      {% include "form/field_with_label.html" %}
    {% endwith %}
  </div>
  <div class="mb-4">
    {% with field=form.password_repeat %}
      {% include "form/field_with_label.html" %}
    {% endwith %}
  </div>
  <button class="w-full bg-green-500 hover:bg-green-400 text-white font-bold border py-2 px-4 shadow rounded" type="submit">
    Submit
  </button>
{% endblock %}
