<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body class="bg-gray-100 tracking-wider tracking-normal">
    {% include 'partials/nav.html' %}
      <div class="container w-full flex flex-wrap mx-auto px-2 pt-8 lg:pt-16 mt-16">
	{% block content %} {% endblock %}
      </div>
    {% include 'partials/footer.html' %}
  </body>
</html>
