<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/trix.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <script src="{{ url_for('static', filename="main.js") }}" defer></script>
    {% block extra_head %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body class="tracking-wider tracking-normal">
    {% include 'partials/nav.html' %}
    <div
      class="
        container
        w-full
        flex flex-wrap
        mx-auto
        px-2
        pt-8
        pb-8
        lg:pt-16
        mt-8
      "
    >
      {% block content %} {% endblock %}
    </div>
    {% include 'partials/footer.html' %}
    {% block extra_js %}{% endblock %}
  </body>
</html>
