{% extends "base.html" %}

{% block content %}
  <div class="grid md:grid-cols-12 gap-8">
    <aside class="col-span-2 h-screen sticky top-4 hidden md:inline-block">
      {% block left_col %}
      {% include "partials/side_nav.html" %}
      {% endblock %}
    </aside>
    <div class="col-span-7">
      {% block main_col %}{% endblock %}

    </div>
    <aside class="col-span-3 h-screen sticky top-4">
      {% block right_col %}
	{% include "_tags.html" %}
      {% endblock %}
    </aside>
  </div>
{% endblock %}
