<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename="bundle.js") }}" defer></script>
    {% block extra_head %}{% endblock %}

    <title>{% block title %}Health QA{% endblock %}</title>
  </head>

  <body class="{% block body_class %}bg-gray-100{% endblock %}">
    {% block body %}
    <div class="flex flex-col h-screen">
      {% include 'partials/nav.html' %}
      {% include 'partials/alerts.html' %}

      {% block main %}
      <main class="container mb-auto w-full mx-auto py-4 md:py-8 md:px-4">
	{% block content %} {% endblock %}
      </main>
      {% endblock main %}

      {% block footer %}
      {% include 'partials/footer.html' %}
      {% endblock %}
    </div>
    {% block extra_js %}{% endblock %}
    {% endblock %}
  </body>
</html>
